<form action="/login" method="POST">
  <div class="container">
    <label for="exampleInputEmail1">Email</label>
    <input name="email" id='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
    <small id="emailHelp" class="form-text text-muted">Nunca iremos compartilhar o seu e-mail.</small>
  </div>
  <div class="container">
    <label for="exampleInputPassword1">Senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha" name="senha" id='senha'>
  </div>
    <br>
     <div class="container">
        <button type="submit" class="btn btn-primary" name="login" id="login" value="Login">Login</button>
    </div>
</form>
   
    
</div>
