<div class="jumbotron">
  <h1 class="display-4">EDUARDO</h1>
  <p class="lead">Bem vindo ao meu perfil, aqui está uma breve descrição.</p>
  <hr class="my-4">
  <p>Mauris id massa eget metus pretium varius. Mauris fermentum semper nisi. Vivamus tincidunt massa a sapien ullamcorper egestas. In hac habitasse platea dictumst. Fusce ut mauris sit amet quam aliquet vulputate ut nec dolor. Cras sed massa ipsum. Quisque cursus auctor faucibus. Vestibulum eget dui at mauris aliquam venenatis. Etiam at nisi venenatis urna tempor lobortis. Nam placerat efficitur nulla fermentum fermentum. Duis sapien leo, tempor non elit lobortis, posuere rhoncus tortor. Integer pharetra erat id ipsum luctus lacinia. Nam aliquam augue massa, quis tincidunt felis commodo a.</p>
    <p>Informações pessoais</p>
    <p>Nome: Eduardo</p>
    <p>Idade: 21</p>
    <p>Sexo: M</p>
    <p>Publicações: 2</p>
    
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Livro 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque consectetur volutpat. Phasellus a nunc a lorem sodales venenatis nec sit amet lectus. Donec at leo egestas, venenatis nibh vel, ultrices mauris.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Livro 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque consectetur volutpat. Phasellus a nunc a lorem sodales venenatis nec sit amet lectus. Donec at leo egestas, venenatis nibh vel, ultrices mauris.</p>
      </div>
    </div>
  </div>
</div>

</div>
